<!doctype html>
<html lang="ko" layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="css">
    <link href="/css/member.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="content">
    <main id="content">
        <h2>게시판 글작성</h2>
        <form id="boardfrm" method="post" name="boardfrm" novalidate>

            <div class="form-floating my-2">
                <input class="form-control" id="userid" maxlength="18" minlength="6"
                       name="userid" placeholder="아이디" readonly th:value="${session.loginUser.userid}">
                <label class="form-label" for="userid">아이디</label>
            </div>


            <div class="form-floating my-2">
                <input class="form-control" id="title" name="title" placeholder="제목"
                        type="text" required>
                <label class="form-label" for="title">제목</label>
            </div>

            <div class="form-floating my-2">
                <textarea class="form-control h-100" id="contents" name="contents"
                          required type="text" rows = "10"></textarea>
                <label class="form-label" for="contents">내용</label>
            </div>

            <div class="my-2 d-flex justify-content-center">
                <div class="g-recaptcha" id = "recaptcha" th:data-sitekey="${sitekey}"></div>
            </div>

            <div class="my-2 d-flex justify-content-between">
                <button class="btn btn-primary" type="submit">
                    <i class="fa-sharp fa-solid fa-file-signature"></i> 입력완료
                </button>
                <button class="btn btn-danger" type="reset">
                    <i class="fa-sharp fa-solid fa-eraser"></i> 다시입력
                </button>
            </div>
        </form>

    </main>
</th:block>

<th:block layout:fragment="script">
    <script src="/js/board.js"></script>
    <script>
        const boardfrm = document.querySelector('#boardfrm');

        boardfrm.addEventListener("submit", (e) => {
            e.preventDefault(); // submit 버튼 기능 중지

            clearErrorMessages();   // 에러메세지 초기화

            // 입력 요소 유효성 검사
            let isValid = validBoard(boardfrm);

            if (isValid) submitBoardfrm(boardfrm);
        });
    </script>
  <!-- <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Mar 18, 2025:
                'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        });
    </script>-->
</th:block>
</html>